body {
    margin: 0;
    padding: 0;
}

button {
    background-color: #FFFFFF; /* Make buttons white */
    border: 2px solid #000000;
    color: #000000; /* Make text black*/
    border-radius: 6px;  
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition-duration: .4s;
}